{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div class = "media_details">
  <div class = "media-item media-item-result">
    <div class = "row">
      <article{{ attributes }}>
        {% if content %}
          {{ content }}
        {% endif %}
      </article>
    </div>
  </div>
</div>
