{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  <section class="container media_details" id="media_details">
    <div class="mediablock">
      <div class="row">
        <div class="col-sm-12">
          <div class="media-item">
            <div class="row">
              <div class="col-sm-4">
                <div class = "entry-meta">
                  <span class="meta-title">Meta Data</span>
                  <span>{{ content|without('field_dc_description', 'field_media_image') }}</span>
                </div>
              </div>
              <div class="col-sm-8">
                {% if content %}
                  {{ content }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section
</article>
