.slick--view--featured-quote slick--view--featured-quote--block-1 {
  background-color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}
.slick--view--featured-quote slick--view--featured-quote--block-1 .quote-slick {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
}
