{% for field,facet in facets %}
    <ul style="list-style: none;">
        <li><h4><strong>{{ field|replace({'-': ' '}) }}</strong></h4></li>
        {% for item in facet %}
            <li>
                <ul style="list-style: none;">
                    <li><a href="{{ item.url }}">{{ item.value }} ({{ item.count }})</a></li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
