#bottom .navbar-brand img {
  width: 100%;
}
#header #views-exposed-form-eminent-search-page-1 #edit-actions {
  display: none;
}
.searchresult-form .fa-search {
  display: none;
}
.featured-quote {
  width: 100%;
  height: 100%;
}
.layout-container {
  padding-bottom: 70px;
}
.search-filters {
  padding-bottom: 60px;
}
.exhibition-slick-image,
.exhibition-slick-image iframe {
  min-height: 400px;
}
.exibition_slider .exhibition-slick-image {
  max-height: 500px;
  overflow-y: scroll;
}
.exhibition-slick-image .video-js {
  width: 100% !important;
}
.quotes-by-sardar-holder > div {
  width: 100%;
}
.media-item {
  margin-left: -15px;
  margin-right: -15px;
}
.meta-title {
  background: #e67e22 !important;
  border-bottom: 5px solid #4e4e4e;
  color: #fff !important;
  padding: 5px 0;
  text-align: center !important;
}
.entry-meta > span > div > div {
  display: inline;
}
.entry-meta > span > div > div > div {
  display: inline;
}
.entry-meta > span > div {
  color: #888 !important;
}
.media-item img {
  width: 100%;
}
.related-exhibitions-block {
  padding-top: 40px;
}
.views-exposed-form form .form-item {
  margin-bottom: 0px;
}
.share-feedbackholder form input[type="text"],
.share-feedbackholder form input[type="email"],
.share-feedbackholder form textarea {
  margin-bottom: 0px;
}
.center.home-timeline {
  padding-bottom: 0px;
}
.quotes {
  height: 200px;
}
.quotes p {
  display: inline;
  text-align: center;
}
.quotes .recent-work-inner {
  text-align: center;
}
#header {
  position: relative;
}
section#feature {
  padding: 70px;
}

#col-metadata .panel-body > div > div {
  display: inline;
}
#col-metadata .panel-body > div > div div {
  display: inline;
}
.quick-quiz .button {
  border-radius: 0;
  display: inline;
  margin: 5px !important;
}
.quick-quiz .responses {
  margin: auto;
}
.quiz-image {
  display: block;
  margin: auto;
  width: 100%;
}
.quiz-image > img {
  width: 100px;
  display: block;
  margin: auto;
}
.exibition_pager .recent-work-wrap .overlay {
  height: 104px;
}
