#bottom .navbar-brand img {
  width: 100%;
}
#header #views-exposed-form-eminent-search-page-1 #edit-actions {
  display: none;
}
.searchresult-form .fa-search {
  display: none;
}
.featured-quote {
  width: 100%;
  height: 100%;
}
.layout-container {
  padding-bottom: 70px;
}
.search-filters {
  padding-bottom: 60px;
}
.exhibition-slick-image,
.exhibition-slick-image iframe {
  min-height: 400px;
}
.exhibition-slick-image .video-js {
  width: 100% !important;
}
